@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base {
    img,
    video {
    max-width: 100%;
    height: auto;
    }
    body {
        font-size: 14px;
        background-color: #F9F9F9;
    }
}
body {
    padding-bottom: 150px;
}
.attbc0:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.attbc0:last-child .line {
    display: none;
}