@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base {
    img,
    video {
    max-width: 100%;
    height: auto;
    }
    body {
        /* font-size: 14px; */
        background-color: #F9F9F9;
    }
}
/* body {
    padding-bottom: 150px;
} */
.attbc0:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.attbc0:last-child .line {
    display: none;
}
.porfolioCart:hover .overlay {
  opacity: 1;
  
}
.porfolioCart .overlay {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    /* transition-delay: 100ms; */
}
.porfolioCart:hover img {
    transform: scale(1.07);
}

.porfolioCart .btn {
    gap: 0px;
}
.porfolioCart .btn:hover {
    gap: 10px;

}
input, 
textarea,
button {
    font-weight: 500;

}
input::placeholder, 
textarea::placeholder,
button::placeholder {
    font-weight: 400;

}
.modal_inner {
    /* transform: translateY(0); */
    animation: slide-up 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) ease-out forwards;
}


@keyframes slide-up {
    from {
      transform: translateY(-10px);
    }
  
    to {
      transform: translateY(0);
    }
  }